.hackathon-form-wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 100rem;
    background-color: rgba(0, 23, 28, 1);
    padding: 3em;
    border-top: 2px solid rgb(255, 176, 0, 0.5);
    border-bottom: 2px solid rgb(255, 176, 0, 0.5);
}

form.form-inputs {
    overflow: hidden;
}

.form-slider {
    width: 300%;
    margin-left: -100%;
}

.hackathon-form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    gap: 2.5em;
    width: 33.33%;
    float: left;
    padding: 0 1rem;

    & .form-subtitle {
        margin: 0;
    }
}

.move-forward {
    transition: margin-left 600ms;
    margin-left: -200%;
}

.move-backward {
    transition: margin-left 600ms;
    margin-left: 0;
}

.form-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

#hackathon-submit-btn,
#hackathon-back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    cursor: pointer;
    border: 2px solid #fff;
    background-color: green;
    color: white;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 20px;
    border: 1px white solid;
    transition:
        background-color 500ms,
        color 500ms;
}
#hackathon-submit-btn:hover {
    background: rgb(19, 200, 19);
}

.form-slider:has(
        .first input:invalid,
        .first select:invalid,
        .first textarea:invalid,
        .first textarea:invalid
    )
    ~ div
    #hackathon-submit-btn {
    background: #ffb000;
    color: black;
}
.form-slider:has(
        .first input:invalid,
        .first select:invalid,
        .first textarea:invalid,
        .first textarea:invalid
    )
    ~ div
    #hackathon-submit-btn:hover {
    background-color: gray;
}

#hackathon-back-btn {
    background-color: #ffb000;
    color: black;
}
#hackathon-back-btn:hover {
    background-color: #ffe000;
}
