.hackathon-page {
    margin-bottom: 10rem;
    width: 100%;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    @media (max-width: 760px) {
        gap: 2rem;
        margin-bottom: 5rem;
    }

    & div.header {
        font-family: "lora";
        background-image: url("../assets/hackathon-header-bg.png");
        background-position: center;
        color: #fff;
        text-align: center;
        font-size: 68px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -3px;
        padding: 18rem 1rem 6rem;
        background-color: #031012;
        margin-top: -12rem;

        & span {
            color: #fba312;
        }
        @media (max-width: 760px) {
            margin-bottom: 5rem;
            font-size: 36px;
            letter-spacing: -2px;
        }
    }

    & section {
        padding: 0 8rem;
        @media (max-width: 760px) {
            padding: 0 3rem;
        }
        & h1 {
            margin-bottom: 4rem;
            font-size: 4rem;
            @media (max-width: 760px) {
                margin-bottom: 2rem;
                font-size: 2.5rem;
            }
        }
        & p.paragraph {
            font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
            margin-bottom: 2rem;
            font-size: 2.4rem;
            max-width: 80ch;
            white-space: pre-line;
            @media (max-width: 760px) {
                font-size: 1.6rem;
            }
        }

        & p.info {
            font-size: 2.5rem;
            margin-left: 6rem;
            @media (max-width: 760px) {
                margin-left: 1rem;
                font-size: 2rem;
            }

            & img {
                width: 3rem;
                margin: 0 1rem;
            }
        }

        & p.subtitle {
            margin-left: 5rem;
        }

        & ul {
            font-size: 2.5rem;
            margin-left: 6rem;
            max-width: 80ch;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            @media (max-width: 760px) {
                margin-left: 1rem;
                font-size: 1.6rem;
                gap: 0.8rem;
            }
        }

        & .applyButton {
            margin-left: 2rem;
            text-align: center;
            padding: 0.5rem 3rem;
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 500;
            color: black;
            background: #fba312;
            border: solid #fba312;

            &:hover {
                background: black;
                color: #fba312;
            }
        }
    }

    & .hackathon-form-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h1 {
            align-self: start;
        }
    }

    & div.field-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }
}
