.form-main-page {
    width: 100%;
    min-height: 70vh;
    display: flex;
    /* gap:10px; */
    /* flex-direction: column; */
    align-items: stretch;
    justify-content: center;
    /* align-items: center; */
    padding: 3rem 0;
}
.form-title {
    color: #ffb000;
    opacity: 0.7;
    font-size: calc(3rem + 1.5vw);
    letter-spacing: -3px;
    text-transform: uppercase;

}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    /* filter: drop-shadow(0px 3px 6px rgba(255, 176, 0, 0.3))
        drop-shadow(0px 3px 6px rgba(255, 176, 0, 0.1)); */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}
.form-photo {
    width: clamp(20rem, 40%, 50rem);
    background-color: rgba(0, 13, 16, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 2em; */
    /* padding-bottom: 2em; */
    /* border-left: 1px solid #ffb000; */
    border-top: 2px solid rgb(255, 176, 0,0.5);
    border-bottom: 2px solid rgb(255, 176, 0,0.5);
}
.form-photo img {
    width: 90%;
    filter: brightness(80%);
}

.form-inputs-wrapper {
    box-sizing: border-box;
    width: clamp(35rem, 45%, 100rem);
    background-color: rgba(0, 23, 28, 1);
    padding: 3em;
    border-top: 2px solid rgb(255, 176, 0,0.5);
    border-bottom: 2px solid rgb(255, 176, 0,0.5);
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 10%; */
    width: 100%;
    flex-wrap: nowrap;
    gap: 2.5em;
    /* filter: drop-shadow(0px 4px 4px rgba(185, 204, 60, 0.25)); */
}
#submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    cursor: pointer;
    border: 2px solid #fff;
    background-color: green;
    color: white;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 20px;
    border: 1px white solid;
    transition:
        background-color 500ms,
        color 500ms;
}
#submit-btn:hover {
    background: rgb(19, 200, 19);
}
.input-field:has(input:invalid, select:invalid, textarea:invalid) ~ #submit-btn {
    background: #ffb000;
    color: black;
}
.input-field:has(input:invalid, select:invalid, textarea:invalid) ~ #submit-btn:hover {
    background-color: gray;
}

.form-experinece {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.mobile { 
    display: none;
    text-align: center;
    margin-top: 1em;
    font-size: 42px;
}
@media (max-width: 760px) {
    .form-main-page {
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .form-photo {
        display: none;
    }

    .mobile{
        display: block;
    }

    .form-inputs-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4em;
        padding-bottom: 4em;
        width: 90%;
        gap: 0.5em;
    }
    .form-inputs {
        align-items: start;
        width: clamp(25rem, 85%, 45rem);
    }
    #submit-btn {
        max-width: 40%;
        margin-left: 1.3em;
    }

    .form-experinece {
        gap: 0;
    }
}
