.footer-link-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.footer-link-text {
    font-family: "Montserrat";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #FFFFFF;
}