.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: #020405;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.loading {
	opacity: 1;
	pointer-events: all;
}
.stoppedLoading {
	opacity: 0;
	pointer-events: none;
}
