.background-container1 {
    justify-content: center;
    align-items: start;
    gap: 5%;
    aspect-ratio: 1 / 1;
}

.boxes-vertical-bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
    width: 50%;
}
