.text-container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    flex-grow: 1;
}

.main-title {
    font-family: "Open Sans";
    line-height: 6vw;
    font-size: clamp(2rem, calc(2.5rem + 2.4vw), 4.5rem);
    font-weight: 700;
    line-height: clamp(2.8rem, 6vw, 6rem);
    text-align: left;
    letter-spacing: -3px;
}

.main-paragraph {
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: left;
    white-space: pre-line;
}

.orange-text {
    color: #ffb000;
}

.button {
    border: 0px;
    background: #112c2c;
    display: inline-block;

    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #e7e7e7;

    padding: 0.6em 1.2em;
    margin: 1.5rem 0 0;
    transition: background-color 500ms;
    cursor: pointer;
}

.button:hover {
    border: 0px;
    background-color: #ffb000;
}

@media (max-width: 760px) {
    .about-container .main-title,
    .committee-container .main-title,
    .contact-container .main-title {
        font-family: "Montserrat";
        font-size: 36px;
        font-weight: 400;
        line-height: 44px;
        text-decoration: underline 2px;
        text-underline-offset: 0.8rem;
    }

    .home-container .main-title {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }

    .main-paragraph {
        font-size: 1.5rem;
        line-height: 2.2rem;
        letter-spacing: 0.02em;
    }

    .button {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
}
