.text-container {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    flex-grow: 1;
}

.main-title {
    font-family: "Open Sans";
    line-height: 6vw;
    font-size: clamp(2rem,calc(2rem + 2.4vw),4.5rem);
    font-weight: 700;
    line-height: clamp(2.8rem,6vw,6rem);
    text-align: left;
}

.main-paragraph {
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: left;
    white-space: pre-line;
}

.orange-text {
    color: #FFB000;
}

.button {
    background: #112C2C;
    display: inline-block;

    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #E7E7E7;

    padding: 0.6em 1.2em;
    margin: 1.5rem 0 0;
}
