.main-footer {
    background: #0b1616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-links-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 10vw;
    padding: 1rem 2% 0;
}

.footer-links-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.footer-list-title {
    font-family: "Montserrat";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin: 0;
}

.footer-links-list:first-child .footer-list-title {
    margin-bottom: 1rem;
}

.copyrights {
    background: #0b1616;
    color: #ffffff;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 10px;
}

.copyrights p {
    margin: 0;
}

@media (max-width: 760px) {
    .footer-list-title {
        font-size: 1.2rem;
        line-height: 1rem;
        letter-spacing: 0.05em;
    }
    .footer-link-text {
        font-size: 0.9rem;
    }
    div.main-footer {
        width: 100%;
    }
    .copyrights {
        font-size: 0.8rem;
        letter-spacing: 0.02em;
        padding-bottom: 5px;
    }
}
