body {
    background-color: transparent;
}

header {
    background-color: #0b1616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem calc(5vw - 2rem);
    position: sticky;
    top: 0px;
    z-index: 10;
    gap: calc(5vw - 2rem);
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.mobile-header {
    display: none;
    position: sticky;
    top: 0px;
}
.all-mobile-nav {
    display: flex;
    justify-content: space-around;
}

.mobile {
    display: none;
}

.nav-icon {
    width: 26px;
    height: 4px;
    border-radius: 15px;
    background: #ffb000;
    margin: 4px auto;
}

button.navbar-toggler {
    display: flex;
    flex-direction: column;
    border: 0px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(5.6vw - 3rem);
    padding: 0 calc(5.6vw - 3rem);
}

.nav-button {
    background-color: transparent;
    border: 0px;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.2rem;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: color 500ms;
    cursor: pointer;
}

.nav-button:hover {
    border: 0px;
    color: #ffb000;
}

.nav-button.selected,
.nav-button.selected:hover {
    border-bottom: #ffb000 solid 2px;
}

@media (max-width: 760px) {
    header {
        padding: 1rem calc(2vw + 1rem);
    }
    .nav-bar {
        background: #0b1616;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        position: absolute;
        align-items: center;
        top: 80px;
        right: 2px;
        gap: 1.2rem;
        padding: 1rem;
    }
    .mobile {
        display: flex;
    }
}
