body {
    background-color: transparent;
}

header {
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem calc(5vw - 2rem);
    position: sticky;
    top: 0px;
    z-index: 10;
    gap: calc(5vw - 2rem);
    @media (max-width: 760px) {
        padding: 1rem calc(2vw + 1rem);
    }
}

div.hidden, .hidden {
    display: none;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 3em;
    @media (max-width: 760px) {
        gap: 1em;
    }
}

.nav-icon {
    width: 26px;
    height: 4px;
    border-radius: 15px;
    background: #ffb000;
    margin: 4px auto;
}

button.navbar-toggler {
    display: flex;
    flex-direction: column;
    border: 0px;
}

.nav-bar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(5.6vw - 3rem);
    padding: 0 calc(5.6vw - 3rem);
}

.nav-bar-mobile {
    background: #0b1616;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    top: 80px;
    right: 2px;
    gap: 1.2rem;
    padding: 1rem;
}

.nav-button {
    background-color: transparent;
    border: 0px;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.2rem;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: color 500ms;
    cursor: pointer;
}

.nav-button:hover {
    border: 0px;
    color: #ffb000;
}

.nav-button.selected,
.nav-button.selected:hover {
    border-bottom: #ffb000 solid 2px;
}

.hackathon-link-nav a, .hackathon-link-nav:hover a {
    color: inherit;
}

.hackathon-link-nav {
    position: absolute;
    top: 50px;
    opacity: 0;
    color: #ffffff;
    border: solid #ffb000;
    padding: 0.5em 1em;
    transition: top 1s, opacity 1s, color 1s, background-color 1s;

    @media (max-width: 760px) {
        padding: 0.3em 0.8em;
        font-size: 16px;
    }
}

.hackathon-link-nav:hover {
    color: #ffffff;
    background-color: #ffb000;
    border: solid #ffb000;
}

button.hackathon-nav-show {
    position: relative;
    top: 0;
    opacity: 1;
}
