.about-container {
    display: flex;
    gap: 9%;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 5rem 5vw 0;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    gap: 9%;
    font-size: 1.6rem;
    padding: 0 5vw;
}

.contact-container .right-content {
    flex-grow: 0;
    flex-basis: content;
}

@media (max-width: 760px) {

    .contact-container {
        flex-direction: column;
        height: fit-content;
        padding-top: 5rem;
        padding-bottom: 6rem;
        gap: 2rem;
    }

    .contact-container .right-content {
        display: flex;
        width: 100%;
    }
}
