.home-container {
    display: grid;
    grid-template-columns: 1rem repeat(auto-fill,1fr);
    column-gap: 9rem;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 1rem 5vw 0;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 5rem;
    max-width: 45rem;
    flex: 1 2 0;
}

.right-content {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    min-width: 20rem;
    margin-top: 3rem;
}

.logo-container img {
    opacity: 0.5;
}

a {
    text-decoration: none;
}

.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15.6rem;
    max-width: 1rem;
    grid-row: 1/3;
}

.left-bar a {
    all: unset;
}

.left-bar-text {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    rotate: 90deg;
    cursor: pointer;
    transition: color 500ms;
}

.left-bar-text:hover {
    color: #FFB000;
}

.stats-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
    min-width: none;
    grid-column: 2 / 4;
    align-self: start;
}

@media (max-width: 760px) {

    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 55rem;
        min-height: 80vh;
        gap: 3rem;
    }

    .about-container .text-container,
    .committee-wrapper .text-container,
    .contact-container .text-container {
        align-items: center;
    }

    .home-container .left-content {
        justify-content: space-between;
        padding-top: 8vw;
    }

    .left-content {
        max-width: none;
    }

    .left-bar, .right-content {
        display: none;
    }

    .mobile-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-container img{
        width: 90px;
    }

}