.card-container {
    position: relative;
    max-width: 25rem;
    max-height: 35rem;
    border-radius: 22px;
    box-shadow: 20px 20px 50px 0px #00000080;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #FFFFFF80;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.card-title {
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0.04em;
    border-bottom: 2px #FFFFFF solid;
}

.card-description {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

button.card-button {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.06em;
    border-radius: 5px;
    padding: 1.1rem 0.7rem;
}

.card-image {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}