.hackathon-card {
    padding: 4rem 3rem;
    max-width: 300px;
    background: #031012;
    box-shadow: 0px 4px 67px -2px #000;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    & div.hackathon-card-header {
        color: #fff;
        font-family: Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        display: flex;
        gap: 1.5rem;
    }

    & p {
        font-size: 1.5rem;
    }

    & a{
        width: 100%;
        text-align: center;
        padding: 0.5rem 3rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        color: black;
        border: none;
    }

    & a.white{
        background: white;
        &:hover {
            background: black; 
            color: white;
        }
    }

    & a.yellow{
        background: #FBA312;

        &:hover {
            background: black; 
            color: #FBA312;
        }
    }
}
