.contact-container body {
  background-image: url("src/assets/contact-graphics/Squares Pattern.jpg");
}

.contact-information {
  display: flex;
  flex-direction: column;
  margin: 0px;
  gap: 2em;
}

.contact-title {
  color: #fff;
  font-family: "Open Sans";
  font-size: 2.4rem; 
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.contact-description {
  box-sizing: border-box;
  padding-top: 0.625em; 
  color: #fff;
  width: 25.4em; 
  height: 5.6em; 
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

.contact-cards-container {
  display: flex;
  flex-direction: column;
  gap: 3.4em; 
}
