.contact-container body {
    background-image: url("../../assets/contact-graphics/Squares Pattern.jpg");
}

.contact-information {
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 2em;
}

.contact-title {
    color: #fff;
    font-family: "Open Sans";
    line-height: 6vw;
    font-size: clamp(2rem, calc(2rem + 2.4vw), 4.5rem);
    font-weight: 700;
    line-height: clamp(2.8rem, 6vw, 6rem);
    text-align: left;
}

.contact-description {
    box-sizing: border-box;
    padding-top: 0.625em;
    color: #fff;
    width: 25.4em;
    height: 5.6em;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

.contact-cards-container {
    display: flex;
    flex-direction: column;
    gap: 3.4em;
}
