.default {
    color: gray;
}
.input-field select {
    font-size: 2rem;
    color: gray;
    width: clamp(6rem, 50%, 50rem);
    box-sizing: border-box;
    height: 100%;
    background-color: #000d10;
    border: 1px solid #fff;
    padding: 0.6em 0.3em;
}
.input-field option {
    background-color: #000d10;
    color: gray;
}
@media (max-width: 768px) {
    .input-field select {
        width: 100%;
        padding: 0.6em;
        font-size: 1.6rem;
    }
}
