:root {
    font-size: 62.5%;
    background-image: url("./assets/background.svg");
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    scroll-padding-top: 15rem;
}

/* @media screen and (min-width: 600px) {
    .Toastify__toast-container {
        transform: scale(1.5);
        margin-right: 60px;
    }
} */

.Toastify__toast-body {
    font-size: 1.6rem;
    display: flex;
    gap:10px
}
.Toastify__toast-icon {
    transform: scale(1.5);
}

* {
    margin: 0;
}

@media (max-width: 760px) {
    :root {
        height: calc(100% + 60px);
    }
}