:root {
    font-size: 62.5%;
    background-image: url("./assets/background.svg");
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    scroll-padding-top: 15rem;
}

.Toastify__toast-body {
    font-size: 1.6rem;
    display: flex;
    gap: 10px;
}
.Toastify__toast-icon {
    transform: scale(1.5);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #cc8d0099;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cc8d00;
}

* {
    margin: 0;
}

@media (max-width: 760px) {
    :root {
        background-size: 160vh;
    }
}
