form{
    width: 540px;
    height: 634px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(public/image 3.png);
    background-size:cover;
}
#form-background{
    border-radius: 15px;
    background: #0b2323;
    box-shadow: 0px 20px 32px 0px rgba(0, 0, 0, 0.25);
    width: 540px;
    height: 634px;
    position: absolute;
    top: 197px;
    left: 839px;
}
#name{
   position: absolute;
   top:203px;
   left:22px;
   width: 180px;
   height: 75px;
}
#email{
   
    position: absolute;
    top: 203px;
    left: 276px;
    width: 180px;
    height: 75px;
}
label{
    color: #fff;
    font-weight: 700;
    font-family: "Montserrat";
font-size: 14px;

}
input{
    padding-left: 20px;
border-radius: 3px;
border: 1px solid #FFF;
background: #3B6262;
margin-top: 5px;
width: 212px;
height: 38px;
color: #FFF;
cursor: pointer;
}
::placeholder{
    color: #FFB000;
    font-family: 'Montserrat';
    font-weight: 400;
}
#message{
    position: absolute;
    top: 305px;
    left: 22px;
}

textarea{
    position: absolute;
    top: 330px;
    left: 22px;
   margin-bottom: 20px;
    width: 466px;
    height: 101px;
    border-radius: 9px;
    cursor: pointer;
border: 1px solid #FFF;
background: #3B6262;
resize: none;
padding-left: 20px;
padding-top: 10px;
}
button{
    position: absolute;
    color: #FFF;
    font-size: 18px;
    top: 464px;
    left: 22px;
    width: 117px;
    height: 38px;
    cursor: pointer;
    border-radius: 6px;
    background: #284B4B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
font-family: 'Montserrat';
font-size: 18px;
font-weight: 300;
letter-spacing: 0.9px;
text-transform: uppercase;
}
input:hover,textarea:hover,button:hover{
    border: 1px solid grey;
}